<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อมูลโปรไฟล์</title>
</head>
<body>
    <header>

        <nav>
            <ul>
                <li><a href="{% url 'home1' %}">หน้าหลัก</a></li>
                <li><a href="/profile/">โปรไฟล์</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p></p>
    </footer>
</body>
</html>