<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>สินค้า</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'product1.css' %}">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <a href="{% url 'my_view' %}" class="item-card">รายการ</a>
      <a href="{% url 'order_view' %}" class="item-card">คำสั่งซื้อ</a>
      <a href="{% url 'category_view' %}" class="item-card">กราฟ</a>
      <a href="{% url 'products' %}" class="item-card">สินค้า</a>
    </aside>
    <main class="main-content">
      <header>
        <h1>สินค้า</h1>
      </header>
      <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'default_image.jpg' %}{% endif %}" alt="{{ product.product_name }}" class="product-image">
          <p>{{ product.product_name }}</p>
          <p>จำนวน: {{ product.quantity }}</p>
          <p>ราคา: {{ product.price|floatformat:2 }} บาท</p>
          <a href="{% url 'order_create' product.id %}">
          <button>สั่งซื้อ</button>
          </a>

        </div>
        {% empty %}
        <p>ยังไม่มีสินค้าในระบบ</p>
        {% endfor %}
      </div>
    </main>
  </div>
</body>
</html>
